#dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headers{
    font-weight: bold;
    padding-top: 15px;
}

.tag-button {
    border-radius: 25px;
    margin-right: 15px;
    color: black;
    background-color: #5FC1AC;
}

#recipe-description{
    background-color: #b0e2d7;
    color: black;
    border-radius: 25px;
    padding: 10px;
}

img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 25px;
}

#image-ingredients {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}







