<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Create an account</h1>
                </div>
                <form class="sign-up-form">
                    <mat-horizontal-stepper id="stepper" #stepper="matHorizontalStepper">
                    <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Create account</ng-template>
                        <div class="mb-3">
                            <label for="exampleUsername" class="form-label">Username</label>
                            <input type="username" class="form-control" id="exampleUsername"> 
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            <a mat-button routerLink="account_settings"><mat-icon>manage_accounts</mat-icon></a>
                        </div>   
                    </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Security question</ng-template>
                            <mat-form-field appearance="fill">
                            <mat-label>Select a security question</mat-label>
                                <mat-select>
                                    <mat-option value="one">Mother's maiden name</mat-option>
                                    <mat-option value="two">name of first pet</mat-option>
                                    <mat-option value="two">Name of first boyfriend</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                    <mat-label>Type your answer here</mat-label>
                                    <textarea matInput></textarea>
                            </mat-form-field>
                    </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
    </div>
</div>
</div>
