.card{
    border:none;
    width:500px;
    padding:50px;
    margin-top: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: white;
}

#stepper{
    background-color: rgb(230, 244, 246);
}

.stepper-label{
    color: black;
}

.question-label{
    color: black;
}

.bg{
    background: rgb(95, 193, 172);
    height : 100vh;
}