div{ 
    color: black ; 
}

.centeredImage {
    margin: 10px auto 20px;
    display: block;
    border-radius: 15px;
}

#close-button { 
    float: right;
}

#favButton { 
    border-radius: 25px;
    flex: 1;
    padding-left: 15px;
}

#recipe-description{
    background-color: #b0e2d7;
    border-radius: 25px;
    padding: 10px;
}

#ingredientsHeader{
    padding-top: 15px;
}

.tag-button { 
    border-radius: 25px;
    background-color: #5FC1AC;

}

.headers{
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;

}