div{ 
    color: black ; 
}

#close-button { 
    float: right;
}

#favButton { 
    border-radius: 25px;
    flex: 1;
}

#recipe-description{
    background-color: #b0e2d7;
    border-radius: 25px;
}

.tag-button { 
    border-radius: 25px;
    background-color: #5FC1AC;

}
.flex-item{
    justify-content: space-between;
    text-align: center;
}



.headers{
    font-weight: bold;
}

.container {
    display: flex;
}