.recipe-grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.clickable {
  cursor: pointer;
}

mat-card {
  background: #f5f3f3;
  width: 750px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

img{
  height: 100%;
  border-radius: 10px;
  width: min-content;
  margin-left: 0%;
}

mat-card-header{
  width: 100%;
  font-size: large;
  align-self: center;
  text-align: center;
  color: black;
  padding-top: 15px;
}
