#dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#create-btn {
  background-color: aquamarine;
  color: black;
}

.spacer{
  padding-bottom: 10px;
  padding-top: 5px;
}

.example-chip-list {
  width: 100%;
}


.instructions{
  width: 100%;
  height: auto;
}

.add{
  display: inline-block;
  width: 100%;
}

