#dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipeField {
  padding-bottom: 30px;
}

#categoryTitle {
  padding-top: 15px;
}

#create-btn {
  background-color: aquamarine;
  color: black;
}

.example-chip-list {
  width: 100%;
}


.instructions{
  width: 100%;
}


