/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
.mat-dialog-container{
    background-color: #EEFCF9 !important;
    border-radius: 25px;
}

body {
  background-color: #D0F4EC;
}
