.recipe-list{
    padding-top: 50px;
    transform: translate(-50%, -50%);
    
}

.container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

h2{
    padding-top: 50px;
}

.spacer{
  flex: 1 1 auto;
}

