<mat-toolbar color="teal">
  <span><mat-icon>kitchen</mat-icon></span>
  <div class="menu">
  <a mat-raised-button color="accent" routerLink="home">Home</a>
  <a mat-button routerLink="/fridge">Fridge</a>
  <a mat-button [matMenuTriggerFor]="recipes">Recipes</a>
     <mat-menu #recipes="matMenu">
        <button mat-menu-item routerLink="/my_recipes">My recipes</button>
        <button mat-menu-item routerLink="/fav_recipes">Favourite recipes</button>
     </mat-menu>
  </div>
  <div class="spacer"></div>

  <button mat-button [matMenuTriggerFor]="notif">
    <mat-icon [matBadge]="count">notifications</mat-icon>
    <mat-menu #notif="matMenu">
      <button mat-menu-item *ngFor="let fridgeItem of expFrigdeItems">{{fridgeItem.item.name}} - {{fridgeItem.status}}</button>
   </mat-menu>
  </button>

  <a mat-button routerLink="/account_settings"><mat-icon>manage_accounts</mat-icon></a>
  <a mat-button routerLink="login"><mat-icon>logout</mat-icon></a>
</mat-toolbar>
