.recipe-list{
    padding-top: 50px;
    transform: translate(-50%, -50%);

}

.container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 40px;
}

.top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.create{
  height:50px;
  font-size: large;
}

.noItemsElement {
  margin-top: 20px;
  color: gray;
}



