<div class="query-functions">

  <div class="textAndButtons">
    <h1>What would you like to use?</h1>
    <div class="buttons">
      <button mat-raised-button [matMenuTriggerFor]="sort">Sort</button>
        <mat-menu #sort="matMenu">
          <button mat-menu-item (click)="sortByName('A')">Name: A-Z</button>
          <button mat-menu-item (click)="sortByName('Z')">Name: Z-A</button>
        </mat-menu>
      <button mat-raised-button (click)="openDialog()">Filter</button>
    </div>
  </div>

  <mat-form-field class="ingredients-chip-list" appearance="fill">
    <mat-label>Ingredients</mat-label>
    <mat-chip-grid #chipGrid>
      <mat-chip-row *ngFor="let fruit of ingredientsAsArray"
                    (removed)="remove(fruit)">
        {{fruit.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="New ingredient..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>

  <div class="query-info">
    <div><span class="query-info main">Category:</span> {{selectedCategory.text}} </div>
    <div><span class="query-info main">Tags:</span> {{selectedTags}}</div>
  </div>

</div>



