<div class="profile-container">
   
        <div class="profile-info-section">

            <div class="info-strip">
                <p class="header"> User Name </p>
                <p class="detail"> Username</p>
            </div>
            <div class="info-strip">
                <p class="header"> E-Mail</p>
                <p class="detail"> {{account.email}}</p>
            </div>
            <div class="info-strip">
                <p class="header"> Password </p>
                <p class="detail"> ********</p>
            </div>
            <div class="info-strip">
                <p class="header"> Security Question </p>
                <p class="detail"> {{account.securityQuestion}}</p>
            </div>

        </div>
   
</div>
