.bg { 
    background: white;
}

.profile-container { 
    display: flex;
    justify-content: center;
    background: rgb(95, 193, 172);  
    margin-top: 50px;
    margin-left: 200px ;
    margin-right: 200px;
    height: 400px;
    outline: 3px, rgb(43, 102, 89); 
    border-radius: 15px;
}

.info-strip {
    display: flex;
    justify-content: space-around;
    flex: 1; 
    padding-left: 100px;
    margin-bottom: 15px;
}

.header {
    flex: 1;
    padding-right: 20px;
}

.detail {
    flex: 2;
    padding-left: 20px;
}

.profile-info-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px; 
}

#editButton { 
    border-radius: 15px;
    margin-left: 850px;
    margin-top: 20px;
}

.heading {
    padding-left: 300px;
    padding-right: 300px;
}