<div class="bg">
    <mat-card class="profile-container">
        
        <div class="wrapper">
            <button mat-raised-button id="editButton" (click)="navigateToAccountView()">Confirm</button>
            <h1 class="heading"> Look! That's You! </h1>
        </div>
    <div class="profile-info-section">
        <div class="info-strip">
            <button mat-raised-button class="header">Name</button>
            <div class="detail">
                <mat-form-field class="userName-form-field">
                    <mat-label class="header">User Name </mat-label>
                    <input matInput type="text" [(ngModel)]="userName">
                    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <div class="info-strip">
            <button mat-raised-button class="header">E-Mail</button>
            <div class="detail">
                <form class="email-form">
                    <mat-form-field class="full-width">
                    <mat-label class="header">Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="eMail" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="info-strip">
            <button mat-raised-button class="header">Password</button>
            <div class="detail">
                <mat-form-field class="password-form-field">
                    <mat-label class="header">Password </mat-label>
                    <input matInput type="text" [(ngModel)]="password">
                    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>
    </mat-card>
</div>
<!-- Changed Data needs to be sent back to backend to update the database of accounts! post reguests? how?  -->