<div class="recipe-grid">
<mat-list>
  <mat-list-item *ngFor="let recipe of recipes" matRipple class="clickable" (click)="openDetailsDialog(recipe)">

      <div class="recipe">
        <img mat-card-image *ngIf='this.recipe.image != ""' [src]="recipe.image">

        <h3>{{recipe.name}}</h3>

        <div class="buttons">
          <button mat-icon-button (click)="openDialogEdit(recipe);  $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteRecipe(recipe);  $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

  </mat-list-item>
</mat-list>
</div>

